@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@Html.AntiForgeryToken()

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerModel">
  Add Customer
</button>

<!-- Modal -->
<div class="modal fade" id="customerModel" tabindex="-1" role="dialog" aria-labelledby="customerModelTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
              <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter your name">

            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">

            <label for="mobile">Mobile Number</label>
            <input type="text" class="form-control" id="mobileNumber" name="MobileNumber" aria-describedby="mobileHelp" placeholder="Enter your mobile number">
            <input type="hidden" id="id" name="id" />
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="btnAdd" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="text-center">

    <table id="CustomerTable" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>        
        </tbody>
    </table>

</div>

@section Scripts
{
    <script>

        loadCustomerRecords();

        function DrawTable(response)
        {
            $.each(response, function(i, item) {
                var $tr = $('<tr id="'+item.id+'">').append(
                    $('<td>').text(item.name),
                    $('<td>').text(item.email),
                    $('<td>').text(item.mobileNumber),
                    $('<td>').html('<button type="button" args="'+ item.id +'" class="btn-edit btn btn-success">Edit</button>'),
                    $('<td>').html('<button type="button" args="'+ item.id +'" class="btn-delete btn btn-danger">Delete</button>')
                ).appendTo('#CustomerTable');
            });
        }

        $(document).on('click', '.btn-edit', function(){ 
            var id = $(this).attr('args');

            $.ajax({
                type: "GET",
                url: "/Index?handler=ById",
                data: {"id": id},
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (msg) {  
                   $("#name").val(msg.name);
                   $("#email").val(msg.email);
                   $("#mobileNumber").val(msg.mobileNumber);
                   $("#id").val(msg.id);
                   $("#btnAdd").addClass("btn-update"); //add the btn-update class to modal save button so that we can make diferrent between add or update action

                   $('#customerModel').modal('show');
                }
            });

        });

        $(document).on('click', '.btn-delete', function(){ 
            var id = $(this).attr('args');
            $.ajax({
                type: "POST",
                url: "/Index?handler=Delete",
                data: {"id": id},
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (msg) {  
                   $('table#CustomerTable tr#'+ id).remove();
                }
            });
        });

        function loadCustomerRecords()
        {
            $.ajax({
                type: "GET",
                url: "/Index?handler=Record",
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (msg) { 
                    DrawTable(msg);
                }
            });
            
        }


        $("#btnAdd").click(function(){
            $.ajax({
                type: "POST",
                url: "/Index?handler=Add",
                data: $('form').serialize(),
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (msg) { 

                    if ($('#btnAdd').hasClass('btn-update'))
                    {
                        $('table#CustomerTable tr#' + msg.id).find("td").eq(1).html(msg.name);
                        $('table#CustomerTable tr#' + msg.id).find("td").eq(2).html(msg.email);
                        $('table#CustomerTable tr#' + msg.id).find("td").eq(3).html(msg.mobileNumber);

                        $("#btnAdd").removeClass('btn-update');
                    }
                    
                    else
                    {
                      loadCustomerRecords(); //refresh the table
                    }
                    $('#customerModel').modal('hide'); //hide the modal
                }
            });

            
        });
    </script>
    
}